.App {
  text-align: center;
}

.team-selection-container {
  width: 100%;

}

.team-container {
  width: 45%;
  display: inline-block;
  margin: 1.5em 0;
}

.team-container form {
  width: 100%;
}

nav {
  width: 100%;
}

.navbar-left {
  width: 48%;
  display: inline-block;
  text-align: left;
}

.navbar-right {
  width: 48%;
  display: inline-block;
}

.navbar-right ul {
  width: 100%;
  text-align: right;
}

ul li {
  text-decoration: none;
  list-style: none;
  width: 15%;
  display: inline-block;
  text-align: left;
}

/* Place Holder */
.trade-summary-container {
  width: 100%;
  height: 70vh;
  background-color: grey;
}

.give-team-container {
  width: 45%;
  height: 90%;
  display: inline-block;
  background-color: navy;
  margin: 1em 1em;
}

.get-team-container {
  width: 45%;
  height: 90%;
  display: inline-block;
  background-color: navy;
  margin: 1em 1em;
}

.give-team-display-container {
  width: 76%;
  height: 60%;
  background-color: green;
  margin: 5% auto 0 auto;
  padding: 2%;
}

.get-team-display-container {
  width: 76%;
  height: 60%;
  background-color: green;
  margin: 5% auto 0 auto;
  padding: 2%;
}

.give-team-score-container {
  width: 80%;
  height: 20%;
  background-color: lightgrey;
  margin: 0 auto;
}

.get-team-score-container {
  width: 80%;
  height: 20%;
  background-color: lightgrey;
  margin: 0 auto;
}

.give-team-score-container div {
  width: 40%;
  height: 45%;
  background-color: yellow;
  margin: 0 auto;
}

.get-team-score-container div {
  width: 40%;
  height: 45%;
  background-color: yellow;
  margin: 0 auto;
}

.player-container {
  width: 80%;
  height: 10%;
  background-color: yellow;
  margin: 0 auto;
}

.player-name {
  width: 60%;
  height: 100%;
  display: inline-block;
}

.player-rating {
  width: 20%;
  height: 100%;
  display: inline-block;
}
